* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("images/bg2.jpg");
  background-color: rgba(0, 0, 0, 0.5); */
  background-image : linear-gradient(rgba (0, 0, 0, 0.5), url('images/bg2.jpg'));
  background-repeat: no-repeat;
  background-size: cover;
}

.social-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 45px;
}

li {
  background-color: #fff;
  width: 39px;
  height: 38px;
  border-radius: 60%;
  display: flex;
  justify-content: space-around;
}

li img {
  width: 45%;
}

nav {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  /* border: 2px black solid; */
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.logo {
  display: flex;
}

.logo img {
  width: 100%;
}

.logo-title {
  display: flex;
  align-items: center;
}
h3 {
  font-family: sans-serif;
  padding-left: 40px;
  text-transform: uppercase;
  color: #ec523f;
  font-size: 32px;
  font-weight: 700;
}

.menubar {
  display: flex;
  justify-content: center;
align-items: center;
}

.menubar > div {
  color: black;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 62px;
  margin-right: 20px;
}

.navbar > div {
  text-transform: uppercase;
  font-size: 14px;
  color: #444444;
  line-height: 100px;
  font-family: sans-serif;
}

.after-header-content {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  row-gap: 25px;
}

h1 {
  color: #fff;
  margin: auto;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;;
  border-bottom: solid 2px #fff;
}

p {
  color: #fff;
  margin: auto;
  font-family: sans-serif;
  text-transform: uppercase;
}

button {
  width: 150px;
  height: 40px;
  margin: auto;
  background-color: #ec523f;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 5px;
  border: none;
}