* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-bg {
  background-image: url("images/bg2.jpg");
  width: 100%;
  height:700px;
  background-repeat: no-repeat;
  background-size: cover;
}

.social-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

li {
  background-color: #fff;
  width: 39px;
  height: 38px;
  border-radius: 60%;
  display: flex;
  justify-content: space-around;
}

li img {
  width: 45%;
}

nav {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  top: 20px;
  left: 275px;
  margin: auto;
  position: fixed;
  width: 70%;
  margin-top: 50px;
}

.logo {
  display: flex;
}

.logo img {
  width: 100%;
}

.logo-title {
  display: flex;
  align-items: center;
}
h3 {
  font-family: sans-serif;
  padding-left: 40px;
  text-transform: uppercase;
  color: #ec523f;
  font-size: 32px;
  font-weight: 700;
}

.menubar {
  display: flex;
  justify-content: center;
align-items: center;
}

.menubar > div {
  color: black;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 62px;
  margin-right: 20px;
}

.navbar > div {
  text-transform: uppercase;
  font-size: 14px;
  color: #444444;
  line-height: 100px;
  font-family: sans-serif;
}

.after-header-content {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  row-gap: 25px;
}

h1 {
  color: #fff;
  margin: auto;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;;
  border-bottom: solid 2px #fff;
}

.header-para {
  color: #fff;
  margin: auto;
  font-family: sans-serif;
  text-transform: uppercase;
}

button {
  width: 150px;
  height: 40px;
  margin: auto;
  background-color: #ec523f;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 5px;
  border: none;
}

/* Main content css start */
.content-1 {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-bottom: 5%;
}

h2 {
  font-family: sans-serif;
  font-weight: bolder;
  border-bottom: black solid 1px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.content-1_heading p{
  color: black;
  text-transform: uppercase;
  font-size: 14px;
}

.services {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  margin-bottom: 13%;
}

.green-item {
  margin-top: 30px;
}

h4,
p {
  color: #fff;
  padding: 10px;
}

hr {
  width: 100px;
  margin: auto;
  background-color: #fff;
}

.green {
  background-color: #1abc9c;
}

.orange {
  background-color: #e67e22;
}

.blue {
  background-color: #3498db;
}

.light-green {
  background-color: #2ecc71;
}

.green,
.orange,
.blue,
.light-green {
  width: 17%;
  height: 300px;
  text-align: center;
}

/* portfolio section */
.portfolio {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.portfolio-items img {
  width: 300px;
}

.portfolio-items {
  display: flex;
  column-gap: 35px;
}

/* our Team section */

.team {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.team-members img {
  width: 250px;
  border-radius: 50%;
}

.team-members {
  display: flex;
  column-gap: 30px;
}

/* Design Skills Section */
.content-2 {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-bottom: 5%;
}

h4 {
  font-family: sans-serif;
  font-weight: normal;
  border-bottom: black solid 1px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-style: italic;
  color: black;
}

.content-2_heading p{
  color: black;
  font-style: italic;
}

.skills-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.paragraphs {
  width: 60%;
}

.paragraphs p {
  color: black;
  font-size: 14px;
  text-align: justify;
}

.progressbars {
  width: 25%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.photoshop,
.html,
.development,
.marketing {
  background-color: #efefef;
  height: 30px;
}

.photoshop span {
  background-color: #ec523f;
  height: 30px;
  width: 312px;
  display: inline-block;
  padding: 8px;
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.html span {
  background-color: #ec523f;
  height: 30px;
  width: 280px;
  display: inline-block;
  padding: 8px;
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.development span {
  background-color: #ec523f;
  height: 30px;
  width: 240px;
  display: inline-block;
  padding: 8px;
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.marketing span {
  background-color: #ec523f;
  height: 30px;
  width: 280px;
  display: inline-block;
  padding: 8px;
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}

/* Contact_US section */
.form-div {
  width: 80%;
  height: 350px;
  margin: auto;
  border: #efefef solid 10px;
}

.contact-section {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  column-gap: 35px;
}


form {
  display: flex;
  flex-direction: column;
}

input {
  width: 440px;
  height: 45px;
}

textarea {
  height: 100px;
  width: 440px;
}

::placeholder {
  padding: 10px;
}

.form-button {
  width: 440px;
  height: 40px;
  background-color: #ec523f;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  border: none;
  margin-top: 15px;
}

.paragraphs-1 {
  width: 50%;
}

.paragraphs-1 p {
  color: black;
  font-size: 16px;
  font-weight: lighter;
  text-align: justify;
}

.p-2,
.p-3,
.p-4 {
  margin-top: 20px;
}