* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-bg {
  background-image: url("images/bg2.jpg");
  width: 100%;
  height:700px;
  background-repeat: no-repeat;
  background-size: cover;
}

.social-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

li {
  background-color: #fff;
  width: 39px;
  height: 38px;
  border-radius: 60%;
  display: flex;
  justify-content: space-around;
}

li img {
  width: 45%;
}

nav {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  top: 20px;
  left: 275px;
  margin: auto;
  position: fixed;
  width: 70%;
  margin-top: 50px;
}

.logo {
  display: flex;
}

.logo img {
  width: 100%;
}

.logo-title {
  display: flex;
  align-items: center;
}
h3 {
  font-family: sans-serif;
  padding-left: 40px;
  text-transform: uppercase;
  color: #ec523f;
  font-size: 32px;
  font-weight: 700;
}

.menubar {
  display: flex;
  justify-content: center;
align-items: center;
}

.menubar > div {
  color: black;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 62px;
  margin-right: 20px;
}

.navbar > div {
  text-transform: uppercase;
  font-size: 14px;
  color: #444444;
  line-height: 100px;
  font-family: sans-serif;
}

.after-header-content {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  row-gap: 25px;
}

h1 {
  color: #fff;
  margin: auto;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;;
  border-bottom: solid 2px #fff;
}

.header-para {
  color: #fff;
  margin: auto;
  font-family: sans-serif;
  text-transform: uppercase;
}

button {
  width: 150px;
  height: 40px;
  margin: auto;
  background-color: #ec523f;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 5px;
  border: none;
}

/* Main content css start */
.content-1 {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-bottom: 5%;
}

h2 {
  font-family: sans-serif;
  font-weight: bolder;
  border-bottom: black solid 1px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.content-1_heading p{
  color: black;
}

.services {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  margin-bottom: 13%;
}

.green-item {
  margin-top: 30px;
}

h4,
p {
  color: #fff;
  padding: 10px;
}

hr {
  width: 100px;
  margin: auto;
  background-color: #fff;
}

.green {
  background-color: #1abc9c;
}

.orange {
  background-color: #e67e22;
}

.blue {
  background-color: #3498db;
}

.light-green {
  background-color: #2ecc71;
}

.green,
.orange,
.blue,
.light-green {
  width: 17%;
  height: 300px;
  text-align: center;
}

/* portfolio section */
.portfolio {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.portfolio-items img {
  width: 300px;
}

.portfolio-items {
  display: flex;
  column-gap: 35px;
}

/* our Team section */